.left {
    float: left;
    width: 50%;
}

.no-border {
    border: none;
}


.reveal .slides {
    position: relative;
    left: auto;
    top: 10%;
}

.slides img.devshop {
    max-width: 33%;
}

.reveal h1 {
    font-size: 2em;
}
